<!DOCTYPE html>
<html>
  <head>
     <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    body {
  background-color: coral;
}
    .contactdetails{
      text-align: center;
      font: 20px "Serif";
      color:blue;
    }
    .pic h3 img{
        position: absolute;
        left:450px;
        top:220px;
        width: 400px;
        height: 300px;
        object-fit:cover;
    }
    .contact{
      text-align: center;
      font: 20px “Helvetica Neue”;
      color:purple;
    }
    </style>
  </head>
<body>

  <% include topmenu %>

  <div id="contacttitle">
    <h1><%= title %></h1>
  </div>
<div class = "contact" >
  <p>כתובת:אפ"ק 5, תל אביב יפו </p>
  <p>טלפון:035555555</p>
  <p>תודה רבה שביקרתם באתר שלנו, נשמח לשמוע ממכם</p>
</div>
<div class="pic">
  <h3><img  src ='/photos/printer2.jpg'/></h3>
</div>
  </body>
  </html>
