<!DOCTYPE html>
<html>
  <head>
     <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    body {
  background-color: coral;
}
    div.contactdetails{
      text-align: center;
      font: 20px "Serif";
      color:blue;
    }
    div.pic{
      position: relative;
      text-align: center;
      top:25px;
    }
    div.contact{
      text-align: center;
      font: 20px “Helvetica Neue”;
      color:purple;
    }
    </style>
  </head>
    <body>

  <% include topmenu %>

  <div id="contacttitle">
    <h1><%= title %></h1>
  </div>
<div class = "contact" >
  <p>כתובת:אפ"ק 5, תל אביב יפו </p>
  <p>טלפון:035555555</p>
  <p>תודה רבה שביקרתם באתר שלנו, נשמח לשמוע ממכם</p>
</div>
<div class="pic">
  <img src ='/photos/printer2.jpg'/>
</div>
  </body>
  </html>
