<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% if (locals.user) { %>
    <% include topmenu %>
    <% include menu %>
    <div id="designpagetitle">
      <h1><%= title %></h1>
  <% } else { %>
      <script>
        window.location.href = "/login";
      </script>
  <% } %>
    </div>
  </body>
  </html>
