<!DOCTYPE html>
<html>
  <head>
    <div id="designpagetitle">
      <h2  dir="rtl"><%= title %></h2>
    </div>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
    .photo h3{
      position: relative;
      right:240px;
      font:bold 20px "macabi";
    }
    h4{
      position: relative;
      right:240px;
      top:240px;
      font:bold 20px "macabi";
    }
    .photo img{
      position: absolute;
      top:130px;
      right:300px;
      max-height: 200px;
      max-width: 200px;
      object-fit: cover;
    }
    #font{
      position: absolute;
      right:295px;
      top:390px;
    }
    #title{
      position: absolute;
      right:295px;
      top:430px;
    }

    #content{
      position: absolute;
      right:295px;
      top:480px;
    }
    .showresult{
      position: absolute;
      right:295px;
      top:700px;
    }
    #errorDisplay{
      position: absolute;
      right:295px;
      top:730px;
    }

    .result
    {
      display: none;
      width: 420px;
      height: 400px;
      position: relative;
      top:330px;
      right:30px;
      margin: 20px 100px;
    }.result img{
      width: 800px;
      height: 600px;
    }
    .result .resultTitle {
      position: absolute;
      top:120%;
      left:110%;
      transform: translate(-50%,-50%);
    }
    .result .resultContent {
      position: absolute;
      top:135%;
      left:110%;
      text-align: center;
      transform: translate(-50%);
    }
    #savechanges
    {
      position: absolute;
      right:700px;
      top:1545px;
    }
    #amount
    {
        position: absolute;
        top:1450px;
        right:295px;
        font:20px "anka";
    }

    #amountinput
    {
        position: absolute;
        top:1480px;
        right:295px;
        margin-top: 10px;
        font:20px "anka";
    }
   #errorDisplay1
   {
     position: absolute;
     top:1510px;
     right:295px;
     margin-top: 10px;
     font:20px "anka";
   }
    </style>
  </head>
  <body onload="initOnLoad()">
    <% if (!locals.user) { %>
      <script>
        window.location.href = "/login";
      </script>
    <% } %>
    <% include topmenu %>
    <% include menu %>
    <div class="photo">
      <h3 dir="rtl" >זו התמונה שבחרת:</h3>
      <img id ="photo" src ='' />
    </div>
    <div>
      <!-- <label for="cars">אנא בחר גופן:</label> -->
        <h4 dir="rtl" >אנא בחר גופן: </h4>
        <select dir="rtl" id="font" onchange="SetFont()" >
          <option value="macabi" >macabi</option>
          <option value="anka" >anka </option>
          <option value="carmelit">carmelit</option>
          <option value="gan" >gan</option>
          <option value="open-sans" >open-sans</option>
          <option value="trashim">trashim</option>
        </select>
        <form  method='post' action='/fill' dir="rtl" >
          <p><input id="title" type='text' name='photodata[title]' oninput="SetTitle(this.value)" placeholder='כותרת' maxlength="20"/></p>
          <textarea id="content" data-limit-rows=true  rows="10" cols="40"  name='photodata[content]' oninput="SetContent(this.value)" placeholder='תוכן' ></textarea>
          <p hidden><input id="path" type='text' name='photodata[path]' </p>
          <p hidden><input id="finalfont" type='text' name='photodata[font]' </p>
          <p id="savechanges" hidden="true"><input type='submit'  value='הבא' onclick="SavePath()" disabled="true"/><br><br><br>
            <p id="amount" hidden="true">אנא בחר את כמות ההזמנות הרצוייה:</p>
            <p id="amountinput" hidden="true"><input type='text', name='photodata[amount]', placeholder='כמות' maxlength="4" oninput="EnableNextButton(this.value)"/><br><br><br>
            <p id="errorDisplay1"></p>
        </form>
       </div>
        <p id="errorDisplay"></p>
        <p><input type='submit' class="showresult" onclick="displayResult()" value='הצג תוצאה'/><p>
    </div>
    <div class="result">
    <img class="result" src ='' style ="opacity:0;"/>
      <pre dir="rtl" class="resultTitle" style="" ></pre>
      <pre dir="rtl" class="resultContent" style=""  ></pre>
    </div>

    <script>
    function EnableNextButton(input)
    {
      if(input.length > 0 && !isNaN(input) && !(parseInt(input) <= 0))
      {
          document.getElementById("savechanges").childNodes[0].disabled = false;
      }
      else
      {
          document.getElementById("savechanges").childNodes[0].disabled = true;
      }
    }
    function SavePath()
    {
        document.getElementById("path").value = localStorage.getItem("totalpath");
    }
    function initOnLoad()
    {
      var filename = localStorage.getItem('filename');
      var path = '/postcards/';
      var totalpath = path.concat(filename);
      console.log("totalpath ",totalpath," filename ",filename);
      document.getElementById('photo').src = totalpath;
      localStorage.setItem("totalpath",totalpath);
      var x = document.getElementById("font").value;
      document.getElementById("title").value = "";
      document.getElementById("content").value = "";
      localStorage.setItem("title","");
      localStorage.setItem("content","");
      SetFont();
    }

    function SetTitle(title)
    {
      localStorage.setItem("title",title);
    }

    function SetContent(content)
    {
      localStorage.setItem("content",content);
    }

    function displayResult()
    {
        if (localStorage.getItem("title").length == 0 || localStorage.getItem("content").length == 0)
        {
          document.getElementById("errorDisplay").innerHTML = "לא מילאת את כל השדות הרלוונטיים";
        }
        else
        {
          document.getElementById("errorDisplay").innerHTML ="";
          var totalpath = localStorage.getItem("totalpath");
          document.getElementsByClassName('result')[1].src = totalpath;
          document.getElementsByClassName('result')[1].style ="opacity:1;";
          document.getElementsByClassName('resultTitle')[0].innerHTML = localStorage.getItem("title");
          document.getElementsByClassName('resultContent')[0].innerHTML = localStorage.getItem("content");

          // var btn  = document.getElementById("savechanges").childNodes[0];
          // btn.disabled = false;

          document.getElementById("amount").hidden = false;
          document.getElementById("amountinput").hidden = false;
          document.getElementById("savechanges").hidden = false;

          document.getElementsByClassName('result')[0].style ="display:block";
          document.getElementsByClassName('result')[1].style ="display:block";
        }
    }
    function SetFont()
    {
        SetTitleFont();
        SetContentFont();
    }
    function SetTitleFont()
    {
       var style = "";
       style = style.concat(" 40px ");
       var font =  document.getElementById("font").value;
       style = style.concat(font);
       document.getElementsByClassName('resultTitle')[0].style.font = style;
    }
    function SetContentFont()
    {
      var style = "";
      style = style.concat(" 20px ");
      var font =  document.getElementById("font").value;
      document.getElementById("finalfont").value = font;
      style = style.concat(font);
      document.getElementsByClassName('resultContent')[0].style.font = style;
    }
    </script>
    <script src='http://code.jquery.com/jquery-1.8.0.min.js' type='text/javascript'></script>
    <script src='textarea-max-rows.js' type='text/javascript'></script>
  </body>
  </html>
