<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    /* div.sidenav {
      text-align: right;
    } */
     div.b {
          color:#a16107;
          font: 25px "times New Roman";
          text-align: center;
     }
    </style>
  </head>
  <body>
    <% include topmenu %>
      <h1><%= title %></h1>

    <div class="b">
      <img src ='/photos/printer.jpg'/>
      <p >
:כבר 30 שנים מדפיסים איכות ברמת גימור גבוהה עד הפרטים הקטנים. אנו מציעים ללקוחותינו
<br>סטנדרט איכות גבוה. זמני אספקה קצרים ואפשרות לשילוח ברחבי הארץ. בין עולמות הפעילות שלנו
<br>המגזר העסקי ןסקטור החינוך, כל אחד עם מגוון הפקות בהתאמה לצרכי הלקוח
<br>.בין היתר ניתן לבצע הזמנות אונליין
      </p>
    </div>

  </body>
  </html>
