<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    div.sidenav {
      text-align: right;
    }
     div.b {
          text-align: center;
     }

    </style>
  </head>
  <body>

    <div id="mySidenav" class="sidenav">
    <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
          <a href=""><ul> מי אנחנו</ul> </a>
          <a href=""><ul> צור קשר </ul></a>
      </ul>
  </div>
  <!-- <span class="c" style=";font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
      <h1><%= title %></h1>


    <div class="b">
      <img src ='/photos/printer.jpg'/>
      <p >
:כבר 30 שנים מדפיסים איכות ברמת גימור גבוהה עד הפרטים הקטנים. אנו מציעים ללקוחותינו
<br>סטנדרט איכות גבוה. זמני אספקה קצרים ואפשרות לשילוח ברחבי הארץ. בין עולמות הפעילות שלנו
<br>המגזר העסקי ןסקטור החינוך, כל אחד עם מגוון הפקות בהתאמה לצרכי הלקוח
<br>.בין היתר ניתן לבצע הזמנות אונליין
      </p>
    </div>

  </body>
  </html>
