<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include topmenu %>
    <% include menu %>
  <div id="openaccount">
    <h1><%= title %></h1>
  </div>
   <div class="loginTitle">
    <p>נא להכניס שם משתמש וסיסמא על מנת להתחבר</p>
  </div>

  <% include messages %>
  <div id="login" direction="rtl">
    <!-- <form action='/login' method='post'> -->
    <form  method='post'>
      <p><input class="username"  type='text' name='user[name]' placeholder='שם משתמש' /></p>
      <p><input class="password" type='password' name='user[pass]' placeholder='סיסמא' /></p>
      <p><input class="login" type='submit' value='התחבר' /></p>
    </form>
  </div>
  </body>
</html>
