<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .amount
      {
          position: absolute;
          top:100px;
          right:240px;
          font:20px "anka";
      }

      .amountinput
      {
          position: absolute;
          top:130px;
          right:240px;
          font:20px "anka";
      }
    </style>
  </head>
  <body>
    <% if (!locals.user) { %>
      <script>
        window.location.href = "/orderlogin";
      </script>
    <% } %>
    <% include topmenu %>
    <% include menu %>
    <form  method='post' dir="rtl" >
      <!-- <p class="amount">אנא בחר את כמות ההזמנות הרצוייה:</p>
      <p class="amountinput" ><input type='text', name='number[amount]', placeholder='כמות'/> -->
    </form>
  </body>
  </html>
