<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>

    </style>
  </head>
  <body>
    <% include topmenu %>
    <% include menu %>
    <h1 dir="rtl"><%= title %></h1>
  </body>
  </html>
  <!-- <form method='post' enctype='multipart/form-data'>
    <p><input type='text', name='photo[name]', placeholder='Name'/>
    </p>
    <p><input type='file', name='photo[image]'/></p>
    <p><input type='submit', value='Upload'/></p>
  </form> -->
