<!DOCTYPE html>
  <html>
    <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <style>
           body {
            background-image: url("/photos/printer3.jpg");
            /* background-size: cover; */
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat; */
          }
      </style>
    </head>
    <body>
      <% include topmenu %>
      <% include menu %>
    <div id="openaccount">
      <h1><%= title %></h1>
  </div>
      <div class="regitserTitle">
       <p> .נא מלא את הפרטים על מנת לפתוח חשבון</p>
     </div>

       <% include messages %>
     <div id="register" dir="rtl">
      <form action='/register' method='post'>
        <p> <input  class="username" type='text' name='user[name]' placeholder='שם משתמש' /> </p>
        <p> <input class="password" type='password' name='user[pass]' placeholder='סיסמא' /></p>
        <p> <input class="openaccount" type='submit' value='פתח חשבון' /> </p>
      </form>
    </div>
    </body>
    </html>
