<div id = "sidebar">
  <div class = "toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul dir="rtl">
    <li> <a href="/homepage"  style="color:white;">מי אנחנו </a> </li>
    <li> <a href=""  style="color:white;">בצע הזמנה </a> </li>
    <li> <a href=""  style="color:white;">בדוק סטטוס הזמנה </a> </li>
    <li> <a href="/contact"  style="color:white;" >צור קשר </a> </li>
  </ul>
</div>
<script>
  function toggleSidebar(){
    document.getElementById("sidebar").classList.toggle('active');
  }
</script>
