
/* נא מלא את הפרטים על מנת לפתוח חשבון */
.regitserTitle{
  position: fixed;
  top:160px;
  right:500px;
  font:bold 17px/30px "times New Roman";
}

.loginTitle{
  position: fixed;
  top:160px;
  right:500px;
  font:bold 17px/30px "times New Roman";
}

#register .username{
  position: fixed;
  top:240px;
  right:500px;
}
#register .password{
  position: fixed;
  top:280px;
  right:500px;
}

#register .openaccount{
  position: fixed;
  top:320px;
  right:500px;
}

#login .username{
    position: fixed;
    top:240px;
    right:500px;
}
#login .password{
  position: fixed;
  top:280px;
  right:500px;
}

#login .login{
  position: fixed;
  top:320px;
  right:500px;
}


#menu .login{ /*הכנס שם משתמש */
  position: fixed;
  top:120px;
  left:238px;
  font:bold 20px/30px "times New Roman";
}

#menu .register{  /*הכנס סיסמא */
  position: fixed;
  top:80px;
  left:208px;
  font:bold 20px/30px "times New Roman";
}

#menu .name{
  font:bold 20px/30px "times New Roman";
}

#menu .logout{  /*צא מהמערכת */
  position: absolute;
  top:20px;
  left:20px;
  font:bold 20px/30px "times New Roman";
}

/* פתיחת חשבון */
#openaccount h1{
  position: fixed;
  top:80px;
  right:500px;
  color: #106ba8;
  font:bold 60px "times New Roman";
}

#designpagetitle h2{
  position: absolute;
  padding:30px;
  right:200px;
  color: #106ba8;
  font:bold 60px "times New Roman";
}

#message{
  position: fixed;
  font:  bold 20px/30px "times New Roman";
  top:200px;
  right:500px;
}

.filemessage{
  position: absolute;
  font:  bold 20px/30px "times New Roman";
  top:550px;
  right:230px;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  list-style-type: none;
}



#sidebar {
  position:fixed;
  top:15px;
  right:-200px;
  width:200px;
  height:100%;
  background: #151719;
  transition: all 500ms linear;
}

#sidebar.active{
  right:0px;
}

#sidebar ul li
{
  color:rgba(230,230,230,0.9);
  list-style:none;
  padding:15px 80px;
  border-buttom: 20px solid rgba(100,100,100,0.3);
  font: 20px "Serif";
}

#sidebar .toggle-btn{
  position: absolute;
  right:220px;
  top:20px;
}

#sidebar .toggle-btn span{

  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin:5px 0px;
}




body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #d4bb4c
}

/* a {
  font: 30px "Serif";
  color: #00B7FF;
} */

/* a:hover {
   background-color: yellow;
} */

h1{
  color: #994699;  font: 60px "Serif";text-align: center;
}

#contacttitle h1{
    color: #5650ff;  font: 60px "Serif";text-align: center;
}


div.b
{
    font: 25px "times New Roman";
}

/* #contactdetails{
  position:fixed;
  right:70px;
  top:100px;
  /* padding:15px 80px; */
/* } */
